<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.dongkuksystems.dbox.daos.type.auth.base.AuthBaseMapper">
	<resultMap id="AuthBaseMap"
		type="com.dongkuksystems.dbox.models.type.auth.AuthBase">
		<id property="rObjectId" column="R_OBJECT_ID" />
		<result property="uObjId" column="U_OBJ_ID" />
		<result property="uObjType" column="U_OBJ_TYPE" />
		<result property="uDocStatus" column="U_DOC_STATUS" />
		<result property="uPermitType" column="U_PERMIT_TYPE" />
		<result property="uOwnDeptYn" column="U_OWN_DEPT_YN" />
		<result property="uAuthorId" column="U_AUTHOR_ID" />
		<result property="uAuthorType" column="U_AUTHOR_TYPE" />
		<result property="uCreateUser" column="U_CREATE_USER" />
		<result property="uCreateDate" column="U_CREATE_DATE" />
        <result property="uExtKey" column="U_EXT_KEY" />
        <result property="uAddGubun" column="U_ADD_GUBUN" />
	</resultMap>
	
	<resultMap id="AuthBaseDetailMap"
		type="com.dongkuksystems.dbox.models.type.auth.AuthBase">
		<id property="rObjectId" column="R_OBJECT_ID" />
		<result property="uObjId" column="U_OBJ_ID" />
		<result property="uObjType" column="U_OBJ_TYPE" />
		<result property="uDocStatus" column="U_DOC_STATUS" />
		<result property="uPermitType" column="U_PERMIT_TYPE" />
		<result property="uOwnDeptYn" column="U_OWN_DEPT_YN" />
		<result property="uAuthorId" column="U_AUTHOR_ID" />
		<result property="uAuthorType" column="U_AUTHOR_TYPE" />
		<result property="uCreateUser" column="U_CREATE_USER" />
		<result property="uCreateDate" column="U_CREATE_DATE" />
        <result property="uExtKey" column="U_EXT_KEY" />
        <result property="uAddGubun" column="U_ADD_GUBUN" />
		
		<association property="user" javaType="VUser">
			<id property="userId" column="B_USER_ID" />
			<result property="displayName" column="B_DISPLAY_NAME" />
			<result property="comOrgId" column="B_COM_ORG_ID" />
			<result property="orgId" column="B_ORG_ID" />
			<result property="orgNm" column="B_ORG_NM" />
			<result property="pstnCode" column="B_PSTN_CODE" />
			<result property="pstnName" column="B_PSTN_NAME" />
			<result property="levelCode" column="B_LEVEL_CODE" />
			<result property="levelName" column="B_LEVEL_NAME" />
			<result property="titleCode" column="B_TITLE_CODE" />
			<result property="titleName" column="B_TITLE_NAME" />
		</association>
		
		<association property="dept" javaType="VDept">
			<result property="orgId" column="C_ORG_ID" />
			<result property="orgNm" column="C_ORG_NM" />
			<result property="comOrgId" column="C_COM_ORG_ID" />
			<result property="uCabinetCode" column="C_U_CABINET_CODE" />
			<result property="orgType" column="C_ORG_TYPE" />
		</association>
	</resultMap>
	
	<select id="selectList" resultMap="AuthBaseMap">
		SELECT
		R_OBJECT_ID,
		U_OBJ_ID,
		U_OBJ_TYPE,
		U_DOC_STATUS,
		U_PERMIT_TYPE,
		U_OWN_DEPT_YN,
		U_AUTHOR_ID,
		U_AUTHOR_TYPE,
		U_CREATE_USER,
		U_CREATE_DATE,
		u_ext_key,
		U_ADD_GUBUN
		FROM
		EDMS_AUTH_BASE_SP
		<where>
			U_OBJ_ID = #{objectId}
			<if test=" 'A'.toString() != authType">
				and U_AUTHOR_TYPE = #{authType}
			</if>
		</where>
	</select>
	
	<select id="selectDetailList" resultMap="AuthBaseDetailMap">
		WITH com_code AS (
			SELECT
				u_code_val1
			FROM
				edms_code_s
			WHERE
				u_code_type = 'COM_CODE'
		), dept AS (
			SELECT
				CONCAT('g_', b.u_cabinet_code)	AS author_id
			,	a.org_id
			,	a.org_nm
			,	a.com_org_id
			,	a.org_type
			,	b.u_cabinet_code
			FROM
				edms_gw_dept	a
			,	edms_dept_s		b
			WHERE
				a.org_id = b.u_dept_code
			
			UNION
			
			SELECT
				CONCAT('g_', LOWER(a.org_id))	AS author_id
			,	a.org_id
			,	a.org_nm
			,	a.com_org_id
			,	a.org_type
			,	NULL							AS u_cabinet_code
			FROM
				edms_gw_dept a
			WHERE
				a.org_id  IN (SELECT u_code_val1 FROM com_code)
		)
		SELECT
			a.r_object_id
		,	a.u_obj_id
		,	a.u_obj_type
		,	a.u_doc_status
		,	a.u_permit_type
		,	a.u_own_dept_yn
		,	a.u_author_id
		,	a.u_author_type
		,	a.u_create_user
		,	a.u_create_date
        ,   a.u_ext_key
        ,   a.u_add_gubun
		,   b.user_id			AS b_user_id
		,   b.display_name		AS b_display_name
		,   b.com_org_id		AS b_com_org_id
		,   b.org_id			AS b_org_id
		,   b.org_nm			AS b_org_nm
		,   b.pstn_code			AS b_pstn_code
		,   b.pstn_name			AS b_pstn_name
		,   b.level_code		AS b_level_code
		,   b.level_name		AS b_level_name
		,   b.title_code		AS b_title_code
		,   b.title_name		AS b_title_name
		,	c.org_id			AS c_org_id
		,	c.org_nm			AS c_org_nm
		,	c.com_org_id		AS c_com_org_id
		,	c.u_cabinet_code	AS c_u_cabinet_code
		,	c.org_type			AS c_org_type
		FROM
							edms_auth_base_sp	a
			LEFT OUTER JOIN	edms_v_user_info	b ON a.u_author_id = b.user_id
			LEFT OUTER JOIN	dept				c ON replace(a.u_author_id, '_sub', '') = c.author_id
		<where>
			a.u_author_type != 'S'
		AND	u_obj_id = #{objectId}
		</where>
	</select>
	
	<select id="selectLiveCloseList" resultMap="AuthBaseMap">
		SELECT
			r_object_id
		,	u_obj_id
		,	u_obj_type
		,	u_doc_status
		,	u_permit_type
		,	u_own_dept_yn
		,	u_author_id
		,	u_author_type
		,	u_create_user
		,	u_create_date
		,	u_ext_key
		,	u_add_gubun
		FROM
            edms_auth_base_sp
		WHERE
            u_obj_id = #{dataId}
        AND u_doc_status = #{docStatus}
	</select>
</mapper>