<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.dongkuksystems.dbox.daos.type.manager.deletemanage.DeleteManageMapper">
	<resultMap id="DeleteManageMap"
		type="com.dongkuksystems.dbox.models.type.manager.deletemanage.DeleteManage">
		<id property="rObjectId" column="R_OBJECT_ID" />
		<result property="uCabinetCode" column="U_CABINET_CODE" />
		<result property="uCabinetType" column="U_CABINET_TYPE" />
		<result property="uObjType" column="U_OBJ_TYPE" />
		<result property="uObjId" column="U_OBJ_ID" />
		<result property="uDeleteUser" column="U_DELETE_USER" />
		<result property="uDeleteDate" column="U_DELETE_DATE" />
		<result property="docRObjectId" column="DOC_R_OBJECT_ID" />
		<result property="objectName" column="OBJECT_NAME" />
		<result property="rContentSize" column="R_CONTENT_SIZE" />
		<result property="uFolderPath" column="U_FOLDER_PATH" />
		<result property="uDocStatus" column="U_DOC_STATUS" />
		<result property="uFolId" column="U_FOL_ID" />
		<result property="displayName" column="DISPLAY_NAME" />
		<result property="orgId" column="ORG_ID" />
		<result property="name" column="NAME" />
		<result property="userName" column="USER_NAME" />
		<result property="comOrgId" column="COM_ORG_ID" />
		<result property="orgNm" column="ORG_NM" />
		<result property="uFolName" column="U_FOL_NAME" />
		<result property="uPjtName" column="U_PJT_NAME" />
		<result property="uRschName" column="U_RSCH_NAME" />
		<result property="title" column="TITLE" />
	</resultMap>
	<resultMap id="DeleteManageLogMap"
		type="com.dongkuksystems.dbox.models.type.manager.deletemanage.DeleteManageLog">
		<id property="uJobCode" column="U_JOB_CODE" />
		<result property="uDocId" column="U_DOC_ID" />
		<result property="uDocKey" column="U_DOC_KEY" />
		<result property="uDocName" column="U_DOC_NAME" />
		<result property="uFileSize" column="U_FILE_SIZE" />
		<result property="uJobUser" column="U_JOB_USER" />
		<result property="uJobDate" column="U_JOB_DATE" />
		<result property="displayName" column="DISPLAY_NAME" />
		<result property="orgId" column="ORG_ID" />
		<result property="name" column="NAME" />
		<result property="userName" column="USER_NAME" />
		<result property="comOrgId" column="COM_ORG_ID" />
		<result property="orgNm" column="ORG_NM" />
	</resultMap>
	
	<select id="selectDeleteDocument" resultMap="DeleteManageMap">
	/* DBOX-PGM-MNG-012 | 휴지통/폐기/보존연한 관리 - 휴지통 자료 조회 | 이성현 */
		SELECT
			a.r_object_id,
			a.u_cabinet_code,
			a.u_cabinet_type,
			a.u_obj_type,
			a.u_obj_id,
			a.u_delete_user,
			split_part(a.u_delete_date, ' ', 1) as u_delete_date,
			b.r_object_id as doc_r_object_id,
			b.object_name,
			b.r_content_size,
			b.u_folder_path,
			b.u_doc_status,
			b.u_fol_id,
			c.display_name,
			d.name,
			concat(c.display_name, ' ', d.name) as user_name,
			c.com_org_id,
			e.u_fol_name,
			f.u_pjt_name,
			g.u_rsch_name,
			h.org_nm,
			h.org_id,
			b.title			
		FROM
			edms_recycle_sp a
		LEFT OUTER JOIN
		    edms_doc_sp b on
			a.u_obj_id = b.r_object_id
		LEFT OUTER JOIN
			edms_gw_user c on
			a.u_delete_user = c.social_per_id
		LEFT OUTER JOIN
			edms_gw_job_pstn d on
			c.pstn_code = d.pstn_code
		LEFT OUTER JOIN
			edms_folder_sp e on
			a.u_obj_id = e.r_object_id
		LEFT OUTER JOIN
			edms_project_sp f on
			a.u_obj_id = f.r_object_id
		LEFT OUTER JOIN
			edms_research_sp g on
			a.u_obj_id = g.r_object_id
		LEFT OUTER JOIN
			edms_v_dept_info h on
			a.u_cabinet_code = h.u_cabinet_code
		<where>
			(a.u_obj_type = 'D' or a.u_obj_type = 'F' or a.u_obj_type = 'P' or a.u_obj_type = 'R') 
			<if test="deleteManage.comOrgId != null and deleteManage.comOrgId != ''">
				AND c.com_org_id = #{deleteManage.comOrgId}
			</if>
			<if test="deleteManage.orgId != null and deleteManage.orgId != ''">
				AND h.org_id = #{deleteManage.orgId}
			</if>
			<if test="deleteManage.uDeleteUser != null and deleteManage.uDeleteUser != ''">
				AND c.display_name like '%${deleteManage.uDeleteUser}%'
			</if>
			<if test="deleteManage.objectName != null and deleteManage.objectName != ''">				
				 AND (b.object_name like '%${deleteManage.objectName}%' or e.u_fol_name like '%${deleteManage.objectName}%' or f.u_pjt_name like '%${deleteManage.objectName}%')							
			</if>
			<if test="deleteManage.overStartDate != null and deleteManage.overStartDate != '' and deleteManage.overEndDate != null and deleteManage.overEndDate != ''">
				AND u_delete_date between #{deleteManage.overStartDate} and #{deleteManage.overEndDate}
			</if>
			<if test="deleteManage.deptCodeList != null and !deleteManage.deptCodeList.isEmpty()">
				AND h.org_id IN 
	        <foreach collection="deleteManage.deptCodeList" item="deptCode" open="(" separator="," close=")">
						#{deptCode}
					</foreach>
			</if>			
		</where>	
		order by a.u_delete_date desc
	</select>
	
	<select id="selectDeleteDocumentLog" resultMap="DeleteManageLogMap">
		/* DBOX-PGM-MNG-012 | 휴지통/폐기/보존연한 관리 - 휴지통 이력 조회 | 이성현 */
		SELECT
			a.u_job_code,
			a.u_doc_id,
			a.u_doc_key,
			a.u_doc_name,
			a.u_file_size,
			a.u_job_user,
			split_part(a.u_job_date, ' ', 1) as u_job_date,
			a.u_cabinet_code,
			b.display_name,
			c.name,
			concat(b.display_name, ' ', c.name) as user_name,
			b.com_org_id,
			d.org_nm,
			d.org_id
		FROM
			edms_log_doc a
		LEFT OUTER JOIN
			edms_gw_user b on
			a.u_job_user = b.social_per_id
		LEFT OUTER JOIN
			edms_gw_job_pstn c on
			b.pstn_code = c.pstn_code
		LEFT OUTER JOIN
			edms_v_dept_info d on
			a.u_cabinet_code = d.u_cabinet_code		
		<where>
			(a.u_job_code ='LA' or a.u_job_code ='LP')
			
			<if test="deleteManage.comOrgId != null and deleteManage.comOrgId != ''">
				AND b.com_org_id = #{deleteManage.comOrgId}
			</if>
			<if test="deleteManage.orgId != null and deleteManage.orgId != ''">
				AND d.org_id = #{deleteManage.orgId}
			</if>
			<if test="deleteManage.uDeleteUser != null and deleteManage.uDeleteUser != ''">
				AND b.display_name like '%${deleteManage.uDeleteUser}%'
			</if>
			<if test="deleteManage.objectName != null and deleteManage.objectName != ''">				
				AND a.u_doc_name like '%${deleteManage.objectName}%'							
			</if>
			<if test="deleteManage.overStartDate != null and deleteManage.overStartDate != '' and deleteManage.overEndDate != null and deleteManage.overEndDate != ''">
				AND u_job_date between #{deleteManage.overStartDate} and #{deleteManage.overEndDate}
			</if>
		</where>	
		order by a.u_job_date desc
	</select>

</mapper>

